@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "OpenSans", arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  text-transform: uppercase;
  color: #fff;
  
  background-image: url("../images/banner-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  
  position: relative;
  z-index: 0;
}

.header::after {
  content: "";
  
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  
  position: absolute;
  z-index: -1;
}

.head-container {
  width: 100%;
  margin: 0;
  padding: 0 15px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-burger__header {
  /* position: relative; */
  position: absolute;
  width: 22px;
  height: 19px;
  display: block;
  margin: 32px 1px 0;
  
  align-self: end;

  top: 9px;
  right: 16px;
}

.menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
  height: 3px;
  width: 100%;
  position: absolute;
  background: #f4f7f6;
  margin: 0 auto;
}

.menu-burger__header span{
  top: 8px;
}

.menu-burger__header:after, .menu-burger__header:before{
  content: '';
}

.menu-burger__header:after{
  bottom: 0px;
}

.menu-burger__header:before{
  top: 0px;
}

.logo {
  width: 270px;
  margin: 225px 0 45px;
}

.menu {
  display: flex;
}

.menu-navigation-list {
  display: none;
}

.about-blog {
  margin-bottom: 219px;
  padding: 0;

  width: 280px;
}

.about-blog_tittle {
  font-weight: 700;
  font-size: 1.625rem;
  text-align: center;
}

.main-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.trends__block {
  display: flex;
  flex-wrap: wrap;

  position: relative;
  margin: 0 auto;
  gap: 3px;
  justify-content: center;
}

.trend__cards {
  display: flex;

  width: 100%;
  /* margin-bottom: 3px; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  
  
  position: relative;
  z-index: 0;


  min-height: 231px;
  align-items: flex-end;
}

@media (max-width: 1199px) and (orientation: landscape) {
  .trands__block {
      max-width: 100vw;
      flex-wrap: nowrap;
  }
}

@media (max-height: 640px) and (max-width: 1024px) and (orientation: landscape) {
  .trands__block {
      max-width: 100vw;
      flex-wrap: wrap;
  }

  .trand__cards {
      max-width: calc((100vw - 3px) / 2);
  }
}

.trend__cards::after {
  content: "";
  
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  
  position: absolute;
  z-index: -1;
}

.fst {
  background-image: url("../images/trend1.jpg");
}

.scd {
  background-image: url("../images/trend2.jpg")
}

.trd {
  background-image: url("../images/trend3.jpg")
}

.fth {
  background-image: url("../images/trend4.jpg")
}

.card__filling {
  width: 100%;
  min-width: 80%;

  border: 3px solid rgba(181, 159, 91, 0.6);
  margin: 88px 13px 13px;
  padding: 33px 20px 31px;
}

.card__filling__link {
  text-decoration: none;
}

.card__filling__name {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2;
  
  color: #fff;
  
  margin: 12px 0 0;

  overflow-wrap: break-word;
}

.main__aside-block {
  width: 100%;
  padding: 0 15px;
  margin: 0;
}

.card {
  display: flex;
  flex-wrap: wrap;
  margin: 35px 0 0;
}

.card::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 3px solid #eeeeee;
  
  margin: 5px auto;
}

.card:nth-child(1) {
  margin-top: 43px;
}

.card-img_link {
  width: 100%;
}

.card-img {
  width: 100%;
}

.card-tags-list {
  display: flex;
  
  margin: 0;
  padding: 0;
}

.card-tags-item {
  display: inline-block;
  
  text-transform: uppercase;
  
  margin: 0px 19px 0px 0px;
}

.tag-link {
  text-decoration: none;
  color: #b59f5b;
  font-weight: 700;
  font-size: 0.875rem;
}

.header-name_link {
  text-decoration: none;
}

.card-header_name {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  
  color: #0f0d0e;
  
  margin: 7px 0;
}

.date-author {
  font-size: 0.75rem;
  margin: 20px 0;
}

.card-time {
  color: #888888;
  margin-right: 15px;
}

.author {
  color: #000000;
  font-weight: 700;
}

.card-text {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #0f0d0e;
}

.aside-block {
  width: 100%;
  margin: 0;
  padding: 0 15px;

  display: flex;
  flex-direction: column;
}

.name-aside {
  width: 100%;
  margin: 0px auto 24px;
}

.name-aside_tittle {
  font-weight: 700;
  font-size: 1rem;
  color: #000000;
  margin: 0;
  
  text-align: center;
  text-transform: uppercase;
}

.name-aside_tittle::after {
  content: '';
  display: block;
  width: 66px;
  border-bottom: 3px solid #e1d9bd;
  
  margin: 14px auto 0;
}

.aside-card {
  display: flex;
  width: 100%;
  
  margin: 22px 0;
}

.aside-card_img {
  width: 70px;
}

.aside-tittle_section {
  margin: 0 0 0 11px;
  padding: 0;
}

.aside-card_time {
  font-size: 0.75rem;
  color: #a9a9a9;
}

.aside-card_name_link {
  color: #000000;
  
  text-decoration: none;
}

.aside-card_name {
  text-transform: uppercase;
  
  font-weight: 700;
  font-size: 0.875rem;
  margin: 0;
}

.search {
  width: 100%;
  display: flex;
  margin: 60px 0 0;
}

form > label {
  width: 100%;
}

.search-field {
  display: inline-block;
  width: 100%;
  height: 48px;
  
  border: none;
  
  margin: 0;
  padding: 0 0 0 18px;
  
  background-color: #f4f7f6;
}

.search-field:focus {
  outline: none;
  
  border: 1px solid rgb(181, 159, 91);
}

.search-field::-webkit-search-cancel-button {
  opacity: 0;
  pointer-events: none;
}

.search-button {
  display: inline-block;
  width: 48px;
  
  border: none;
  
  background-color: #b59f5b;
  background-image: url("../svg/search.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.search-button:focus {
  background-color: #323232;
  background-image: url("../svg/search.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.search-button:hover {
  cursor: pointer;
}

.name-aside-mailing_tittle::after {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 3px solid #e1d9bd;
  
  margin: 10px;
}

.email-field {
  display: inline-block;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  
  border: none;
  
  margin: 0 0 18px;
  padding: 0 0 0 18px;
  
  background-color: #f4f7f6;
}

.email-field:focus {
  outline: none;
  
  border: 1px solid rgb(181, 159, 91);
}

.email-button {
  width: 100%;
  height: 48px;
  
  border: none;

  color: #ffffff;
  background-color: #b59f5b;
  
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.email-button:focus {
  background-color: #323232;
}

.email-button:hover {
  cursor: pointer;
}

.tags-list {
  display: flex;
  padding: 0;
}

.tags-item {
  display: inline-block;
  
  text-transform: uppercase;
  
  outline: 3px solid rgb(238, 238, 238);
  padding: 1px 11px;
  margin: 6px 5px;
}

.tags-item-link {
  text-decoration: none;
  color: #0f0d0e;
  font-weight: 700;
  font-size: 0.75rem;
}


.tags-item:hover {
  outline-color: #b59f5b;
}

.themes {
  display: flex;
  
  margin: 0;
  padding: 0;
}

.themes-list {
  margin: 0;
  padding: 0;
}

.themes-list-item {
  list-style-type: none;
  
  border-bottom: 1px solid #eeeeee;
  margin: 16px 0;
  padding: 0 0 16px;
}

.themes-link {
  text-decoration: none;
  
  font-weight: 700;
  font-size: 0.875rem;
  color: #000000;
  
  margin: 0 2px;
}

.themes-link:hover {
  color: #b59f5b;
}

.shop__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3px;
  padding: 0 15px;
}

.shop-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  padding: 18px 24px 30px 21px;
}

.shop-item__img {
  width: 100%;
}

.shop-item__image {
  display: block;
  width: 100%;
  object-fit: cover;
}

.text-price__container {
  outline: 3px solid rgba(181, 159, 91, 0.6);
  outline-offset: 21px;
  padding: 22px 0 3px;
  flex-grow: 1;
}

.header-name_link {
  text-decoration: none;

  color: #0f0d0e;
}

.shop-item__header_name {
  text-transform: uppercase;
  font-size: 1.06rem;
  font-weight: 700;
  line-height: 1.2;

  margin: 0;
}

.shop-item__text {
  font-size: 0.88em;
  font-weight: 400;

  margin: 0;
}

.inside__text-link {
  color: #b59f5b;
  text-decoration: none;
}

.price-button__container {
  width: 100%;
  margin-top: 28px;
  padding: 0;

  display: flex;
  justify-content: space-between;
}

.shop-item__price {
  font-size: 1.25rem;
  font-weight: 700;
}

.old_price {
  text-decoration: line-through;
  font-size: 0.7em;

  margin: 0;
}

.new_price {
  margin: 0;
}

.button__shop {
  width: 140px;
  height: 48px;
  
  border: none;

  color: #ffffff;
  background-color: #b59f5b;
  
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
}

.button__shop:focus {
  background-color: #323232;
}

.quantity {
  font-weight: 700;
  font-size: 0.75rem;
  color: #b59f5b;
  
  vertical-align: super;
  
  margin: 0 0 0 5px;
}

.footer {
  width: 100%;
  margin: 60px auto;
  padding: 0 15px;
}

.footer-block {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: #f4f7f6;
}

.social-links-list {
  list-style-type: none;
  display: flex;
  gap: 30px;
  padding: 30px 0;
  margin: 0;
}

.social-link {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.dribbble {
  background-image: url("../svg/001-dribbble.svg");
}

.pinterest {
  background-image: url("../svg/002-pinterest.svg");
}

.tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.copyright-block {
  width: 100%;
  margin: 52px 0;
  padding: 0;
}

.copyright__link {
  text-decoration: none;
}

.copyright-tittle {
  text-align: center;
  
  font-weight: 700;
  font-size: 0.75rem;
  color: #999999;
}

.popup__close {
  position: absolute;
  width: 27px;
  height: 27px;
  background-image: url("../svg/form-x.svg");
  background-repeat: no-repeat;
  top: -32px;
  right: 1px;
  background-size: cover;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.popup_hidden {
  position: fixed;
  inset: 0;
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  will-change: transform;
  overflow-y: auto;
  z-index: 100;
}

.popup__content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 330px;
  padding: 25px 26px 28px 24px;
  font-size: 0.813rem;
  position: relative;
  background-color: #fff;
}

.name-aside__popup {
  margin: 0 auto;
  padding: 0;
}

.select__container {
  width: 100%;
}

.select {
  width: 100%;
  height: 48px;
  padding: 15px;
  margin-top: 12px;
  border: none;
  background-color: #f4f7f6;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: right 15px center;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

.radio__box {
  display: flex;
  margin-top: 12px;
}

.radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

.radio:checked ~ .radio__text::before {
  background-image: url("../svg/form-circle.svg");
}

.radio__text {
  margin-right: 35px;
}

.radio__text::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 6px;
  background-image: url("../svg/form-empty-circle.svg");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

.feedback__text {
  width: 281px;
  height: 131px;
  resize: none;
  background-color: #f4f7f6;
  border: none;
  padding: 15px;
  margin-top: 12px;
  font-family: inherit;
}

.feedback__text:focus {
  border: 1px solid #b59f5b;
  outline: none;
}

.popup__button {
  width: 100%;
  height: 48px;
  border: none;
  color: #ffffff;
  background-color: #b59f5b;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
}

.popup__button:focus {
  background-color: #323232;
}

@media (min-width: 641px) and (max-width: 1200px) {
  .header {  
    background-image: url("../images/banner-bg-tablet.jpg");
  }
  
  .head-container {
    padding: 43px 34px 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .menu-burger__header {
    width: 23px;
    align-self: flex-start;
    order: 2;
    top: 15px;
    right: 35px;
  }

  .logo {
    width: 158px;
    margin-top: 0;
    order: 1;
  }

  .about-blog {
    width: 100%;
    margin: 105px 0 125px;
    padding: 0 44px;
    order: 3;
  }
  
  .about-blog_tittle {
    font-size: 2.5rem;
  }

  .trends__block {
    display: flex;
    flex-wrap: wrap;
  }

  .trend__cards {
    width: calc(50% - 3px);
    min-height: 246px;
  }

  .main__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 34px;
    margin: 0;
  }

  .main__aside-block {
    width: 58.75%;
  }

  .aside-block {
    width: 41.25%;
  }

  .shop__container {
    width: 100%;
    padding: 0 34px;
    justify-content: space-between;
    gap: 28px 24px;
  }

  .shop-item {
    width: calc(50% - 12px);
    padding: 20px 23px 6px 22px;
  }

  .shop-item__image {
    width: 100%;
  }

  .text-price__container {
    max-width: 100%;
    padding-top: 18px;
  }

  .card__filling__name {
    margin: 10px 0 0;
  }

  .footer {
    padding: 0 34px;
  }

  .popup__content {
    width: 390px;
    /* height: 596px; */

    padding: 50px 30px;
  }

  .feedback__text {
    width: 330px;
  }
}

@media (min-width: 1201px) {
  .header {
    background-image: url("../images/banner-bg.jpg");
  }

  .head-container {
    width: 1200px;
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 145px;
  }

  .menu__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
  }

  .menu-burger__header {
    display: none;
  }

  .logo {
    width: 180px;

    margin: 28px 0 0 3px;
  }

  .menu-navigation-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu-navigation-item {
    margin: 0px 0px 0px 35px;
  }

  .menu-navigation_link {
    font-size: 0.813rem;
    text-decoration: none;
    color: inherit;  
  }

  .menu-navigation_link:hover {
    text-decoration: underline;
  }

  .about-blog {
    margin: 128px auto 0;
    width: 700px;
  }

  .about-blog_tittle {
    font-size: 2.813rem;
  }

  .card__filling__name:hover {
    color: #b59f5b;
  }

  .trends__block {
    display: flex;
    width: 100%;
    margin: 0 auto;
    gap: 5px;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .trend__cards {
    min-height: 320px;
  }

  .main__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 1200px;
    margin: 0 auto;
  }

  .main__aside-block {
    width: 70%;
  }

  .card {
    display: flex;
    flex-wrap: nowrap;
    margin: 60px 0 0;
  }

  .card::after {
    display: none;
  }

  .card:nth-child(1) {
    margin-top: 60px;
  }

  .card-img {
    width: 380px;
    object-fit: cover;
  }

  .card-text-section {
    margin-left: 31px;
  }

  .card-header_name {
    font-size: 1.25rem;
  }

  .card-header_name:hover {
    color: #b59f5b;
  }

  .tag-link:hover {
    text-decoration: underline;
  }

  .card-text {
    font-size: 0.938rem;
  }

  .aside-block {
    width: 25%;
  }

  .name-aside {
    margin: 60px auto 29px;
  }

  .name-aside_tittle {
    font-size: 0.875rem;
  }

  .aside-card {
    display: flex;
    width: 100%;
    margin: 0 0 22px;
  }

  .aside-card:nth-child(6) {
    margin: 0;
  }

  .aside-card_img {
    width: 70px;
  }

  .aside-card_name {
    font-size: 0.875rem;
  }

  .aside-card_name:hover {
    color: #b59f5b;
  }

  .search-button {
    min-width: 48px;
  }

  .search-button:hover {
    background-color: #323232;
    background-image: url("../svg/search.svg");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;
  }

  .email-button:hover {
    background-color: #323232;

    cursor: pointer;
  }

  .shop__container {
    max-width: 1200px;
    margin: 0 auto;
    gap: 59px;
  }

  .shop-item {
    width: 345px;
    padding: 19px 21px 30px 22px;
  }

  .shop-item__header_name {
    font-size: 1.25rem;
  }

  .inside__text-link:hover {
    text-decoration: underline;
  }

  .button__shop:hover {
    background-color: #323232;

    cursor: pointer;
  }

  .footer {
    max-width: 1200px;
  }

  .popup__content {
    width: 390px;
    padding: 50px 30px;
  }

  .popup__button:hover {
    background-color: #323232;
    cursor: pointer;
  }

  .feedback__text {
    width: 330px;
  }
}
